#safety copies
**~

#"compiled" python
**.pyo
**.pyc

#Custom ignored files
**~.*
~**.*

#Ninja project file
*.nja

#Licence agreement
READ_BEFORE_START.py

#empty folders
screenshots/*
assets/sprites/player/*

#symlinks in testing folder
src/tests/settings.py

#user settings
userdata/user_settings.json
